:root {
  --primary: #2c3e50; /* Primary color */
  --secondary: #18bc9c; /* Secondary color */
  --text: #34495e; /* Text color */
  --bg: #ecf0f1; /* Background color */
  --btn-bg: #2c3e50; /* Button background */
  --btn-hover-bg: #18bc9c; /* Button hover background */
  --btn-text: #ffffff; /* Button text */
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}

h1 {
  color: var(--primary);
}

.section-title {
  padding: 10px 0;
}

.main-section {
  background: var(--bg);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 11111;
  background: var(--bg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: 1%;
}

.logo-text {
  width: 80%;
}

.logo-text h1 {
  font-size: 24px;
  color: var(--primary);
}

.logo-img {
  width: 20%;
}

.logo img {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 4%;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.nav-list li a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease;
  color: var(--primary);
}

.nav-list li a:hover {
  color: var(--secondary);
}

.service-section {
  background-color: #ffffff;
  padding: 2%;
  border: 2px solid var(--secondary);
  border-radius: 12px;
  margin: 0 auto;
  width: 80%;
}

.content {
  display: flex;
  flex-direction: row;
}

h1,
p {
  color: var(--primary);
}

.service-image {
  width: 30%;
}

.service-image img {
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.service-info {
  width: 80%;
  margin-left: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--secondary);
  background-color: #ffffff;
  border: 2px solid var(--secondary);
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: var(--secondary);
  color: #ffffff;
}
